In [ ]:
#cek bilangan ganjil apa bukan
input_mysql = 10
if input_mysql % 2 != 0:
  print('ini ganjil')
else:
  print('ini genap')

input_postgresql = 11
if input_postgresql % 2 != 0:
  print('ini ganjil')
else:
  print('ini genap')
#kalo seperti ini kan repot ngetik if nya lagi

In [ ]:
def cek_ganjil(input_bilangan):
  if input_bilangan % 2 != 0:
    print('ini ganjil')
  else:
    print('ini genap')

In [ ]:
cek_ganjil(input_mysql)
cek_ganjil(input_postgresql)

In [ ]:
#contoh return
def cek_genap(input_bilangan):
  if input_bilangan % 2 == 0:
    return True
  else:
    return False
#kalo pake return, outputnya bisa di assign lagi ke variabel lain
#emang umumnya pake return drpd print, soalnya kalo print gabisa di assign lagi

In [ ]:
cek_genap(input_mysql)

In [ ]:
cek_genap(input_postgresql)

In [ ]:
def luas_persegi(sisi):
  return sisi*sisi

In [ ]:
sisi = 3
persegi1 = luas_persegi(sisi)
hasilnya = 'luas persegi adalah',persegi1
hasilnya

In [ ]:
#kasih docstring biar orang lain tau deskripsi dari function ini
def describe_persegi_panjang(panjang, lebar):
  """
  tujuaan dari function ini adalah 
  return value luas bangun persegi_panjang
  dan return value keliling persegi panjang
  """
  luas = panjang*lebar
  keliling = 2*(panjang+lebar)
  return luas, keliling

In [ ]:
luas, keliling = describe_persegi_panjang(10,5)

In [ ]:
print(luas)
print(keliling)

In [ ]:
#default argument
def luas_lingkaran(jari2, phi=3.14): #kalo menentukan default di belakang
  """tujuan dari function ini untuk menghitung
  luas dari sebuah lingkara"""
  return phi*jari2*jari2

In [ ]:
hasil_luas_lingkaran = luas_lingkaran(7) #jadi tidak usah assign nilai phi lagi
hasil_luas_lingkaran

In [ ]:
#global and local
def luas_lingkaran2(jari2, phi=3.14): #kalo menentukan default di belakang
  """tujuan dari function ini untuk menghitung
  luas dari sebuah lingkara"""
  global luas_lingkaran_func
  luas_lingkaran_func = phi*jari2*jari2
  return luas_lingkaran_func

In [ ]:
hasil_luas_lingkaran2 = luas_lingkaran2(14)
hasil_luas_lingkaran2

615.44

In [ ]:
phi = 3.14
jari = 7
hasil_luas_lingkaran_lambda = lambda phi, jari: phi*jari*jari
hasil_luas_lingkaran_lambda(phi, jari)

153.86

In [ ]:
#*args #mau input berapa aja bisa
def tambahkan_semua_input(*args):
  sum_all = 0
  for i in args:
    sum_all += i
  print(sum_all)

In [ ]:
tambahkan_semua_input(1,2,3,4,5,6,7,8,9,10,11,12)

In [ ]:
def print_semua_input(**kwargs):
  print(kwargs)
  for key, value in kwargs.items():
    print(key, ':', value)
    print('\n')

In [ ]:
print_semua_input(name='zhafar',name2='tri')

{'name': 'zhafar', 'name2': 'tri'}
name : zhafar


name2 : tri

In [ ]:
def check_prime(n):
  if n < 2:
    return False
  elif n == 2:
    return True
  else:
    prime_flag = True
    
    for i in range(2, n):
      if (n % i == 0) and (prime_flag == True) :
        prime_flag = False

    return prime_flag

a = check_prime(2)
print(a)

True

In [ ]:
check_prime(5)

True

In [72]:
import random
input_list= random.randrange(1, 10000, 1)
input_list

9435

In [63]:
def cek_palindrom(input_list):
  '''untuk cek variabel input_list termasuk
  bilangan palindrom atau bukan
  '''
  sementara = input_list
  terbalik = 0
  while sementara >0:
    sisa = sementara % 10
    terbalik = (terbalik*10) + sisa
    sementara //= 10
  return input_list == terbalik

In [71]:
if cek_palindrom(input_list) == True:
  print("bilangan input merupakan bilangan palindrom")
else:
  print("bilangan input bukan merupakan bilangan palindrom")

bilangan input merupakan bilangan palindrom