In [ ]:
# for - number of times
for i in range(0,10): #kalo pake range, angka terakhir diabaikan
  print('index ke :', i)

#i = variable bebas
#for <variable> in range(start, end):
  #(statement)

index ke : 0
index ke : 1
index ke : 2
index ke : 3
index ke : 4
index ke : 5
index ke : 6
index ke : 7
index ke : 8
index ke : 9

In [ ]:
#contoh
index = 0
nama_siswa=['zhafar','tri','bayu']

for i in nama_siswa:
  index += 1
  print('absen ke', index)
  print(i)

absen ke 1
zhafar
absen ke 2
tri
absen ke 3
bayu

In [ ]:
#array terdiri dari key dan value / bisa dibilang dictionary
data_siswa={'name':['zhafar','tri','bayu'], 'absen':[1,2,3]}
#contoh iterasi untuk dictionary
for key, value in data_siswa.items():
  print (key, value)

name ['zhafar', 'tri', 'bayu']
absen [1, 2, 3]

In [ ]:
#contoh iterasi dictionary di dalam list
data_siswa = [{'nama':'zhafar','absen':1},
              {'nama':'tri','absen':2},
              {'nama':'adib','absen':3}]

for item in data_siswa:
  for key, value in item.items(): #ini yang jalan duluan
    print(key, value)
  print('\n')

nama zhafar
absen 1


nama tri
absen 2


nama adib
absen 3

In [ ]:
for i in range(0,10): 
  print('index ke :', i+1)

index ke : 1
index ke : 2
index ke : 3
index ke : 4
index ke : 5
index ke : 6
index ke : 7
index ke : 8
index ke : 9
index ke : 10

In [ ]:
# kalo 10 = salah
index = 0
while index <10:
  index +=1
  print(index)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [ ]:
angka10 = False
index = 0
while angka10 == False:
  index += 1
  print(index)
  if index == 10:
    angka10 = True

1
2
3
4
5
6
7
8
9
10

In [ ]:
#print angka ganjil di antara range
for i in range(0,20):
  i += 1
  if (i%2) != 0:
    print(i,'adalah bilangan ganjil')

1 adalah bilangan ganjil
3 adalah bilangan ganjil
5 adalah bilangan ganjil
7 adalah bilangan ganjil
9 adalah bilangan ganjil
11 adalah bilangan ganjil
13 adalah bilangan ganjil
15 adalah bilangan ganjil
17 adalah bilangan ganjil
19 adalah bilangan ganjil

In [ ]:
#print angka ganjil dari 1-200 pake while
angka = 0
jumlah = 0
while jumlah != 200:
    if angka % 2 == 1:
        print(angka)
    angka += 1
    jumlah += 1

In [ ]:
#200 angka ganjil pertama
count = 0
total = 0

final = False
while (final == False):

  if (total == 200):
    final = True

  if (count % 2 == 1):
    print(count)
    total += 1
  
  count += 1

In [ ]:
#200 angka ganjil pertama
trigger = True
counter_bilangan = 0
counter_bilangan_ganjil = 0

while trigger :
  counter_bilangan += 1
  if counter_bilangan%2 != 0:
    print(counter_bilangan)
    counter_bilangan_ganjil +=1

  if counter_bilangan_ganjil ==200:
    trigger = False

In [ ]:
#mencari bilangan fibonacchi kurang dari 20
n1 = 0
n2 = 1
penampung = 1
trigger = True

while trigger:
  if penampung < 20:
    print(penampung)
  else:
    trigger = False
  penampung = n1+n2
  n1 = n2
  n2 = penampung

In [ ]:
#cari fibonachi juga
a = 0
b = 1
c = 0

while c <= 100:
  c = a + b
  a = b
  b = c

  print(a)

1
1
2
3
5
8
13
21
34
55
89

In [ ]:
#print bilangan prima dari 1-100
for Number in range (0, 100):
    Number += 1
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count += 1
            break

    if (count == 0 and Number != 1):
        print(Number)

In [ ]:
#ngecek bilangan prima atau bukan
num = 5
for i in range(2,num):
    if (num % i) == 0:
      print (num, 'bukan prima')
      break
else:
  print(num, 'bilangan prima')

5 bilangan prima

In [ ]:
n = 50 #50 prima pertama
c = 2 #2 adalah bilangan prima paling awal
while n !=0:
  for i in range(2,c):
    if c%i==0:
      break
  else:
    print(c)
    n -= 1
  c += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229