In [ ]:
bilangan_ganjil = [1,3,5,7,9]

In [ ]:
print(bilangan_ganjil)

[1, 3, 5, 7, 9]

In [ ]:
#menambahkan value pada akhir list
bilangan_ganjil.append(11)

In [ ]:
#menghapus seluruh value di dalam list
bilangan_ganjil.clear()

In [ ]:
#menghapus satu value paling akhir list
bilangan_ganjil.pop()

11

In [ ]:
#menghitung banyaknya value pada list
len(bilangan_ganjil)

6

In [ ]:
#hapus semua value pada list dengan iterasi
for i in range(0, len(bilangan_ganjil)):
  bilangan_ganjil.pop()

In [ ]:
#untuk mengcopy value, kalo  value di bilangan_ganjil2
#berubah, maka value di bilangan_ganjil berubah juga. dan sebaliknya
bilangan_ganjil2 = bilangan_ganjil.copy()
bilangan_ganjil2

[1, 3, 5, 7, 9, 11]

In [ ]:
#menghitung ada berapa banyak value di dalam list
bilangan_ganjil.count(7)

1

In [ ]:
#menambahkan item dari list ke list lain
#list bilangan_genap dimasukan ke list_bilangan_ganjil3
bilangan_genap = [2,4,6,8]
bilangan_ganjil3 = [1,3,5,7,9]
bilangan_ganjil3.extend(bilangan_genap)
bilangan_ganjil3

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#mencari sebuah value ada di index ke berapa?
bilangan_ganjil.index(3)

1

In [ ]:
#masukin value 13 sebelum jadi index ke 5
bilangan_ganjil.insert(5,13)

In [ ]:
#menghapus value tertentu
bilangan_ganjil.remove(13)

In [ ]:
#jadi kebalik indexnya
bilangan_ganjil3.reverse()
bilangan_ganjil3

In [ ]:
bilangan_ganjil3.sort() #ascending
bilangan_ganjil3.sort(reverse = True) #descending
bilangan_ganjil3

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a = 0
b = 1
c = 0
list_ganjil = []
while c <= 50:
  if a %2 != 0:
    list_ganjil.append(a)
  c = a + b
  a = b
  b = c
  
print(list_ganjil)

[1, 1, 3, 5, 13, 21]

In [ ]:
bilangan_ganjil4 = []
for i in range(0,50):
  if i % 2 != 0:
    bilangan_ganjil4.append(i)

bilangan_ganjil4

In [ ]:
n = 50
n1, n2 = 0, 1
count = 0
list = []

while n1 <= n:
    if n1 % 2 != 0:
      list.append(n1)
    
    fibonacci = n1 + n2
    n1 = n2
    n2 = fibonacci
    count += 1

print(list)

[1, 1, 3, 5, 13, 21]

In [ ]:
n = 50
n1, n2 = 0, 1
count = 0
list_ganjil = []
list_genap = []

while n1 <= n:
    if n1 % 2 != 0:
      list_ganjil.append(n1)
    else:
      list_genap.append(n1)
    
    fibonacci = n1 + n2
    n1 = n2
    n2 = fibonacci
    count += 1

print(list_ganjil)
print(list_genap)

[1, 1, 3, 5, 13, 21]
[0, 2, 8, 34]

In [ ]:
user = [{
    'name':'Krian',
    'platform':'Web',
    'transaksi':[{
        'namaproduk':'sabun',
        'harga':5000,
        'kuantitas':3,
        'kategori':'alat mandi'
    }]
},
{
    'name':'Krian2',
    'platform':'Web',
    'transaksi':[{
        'namaproduk':'sabun',
        'harga':5000,
        'kuantitas':2,
        'kategori':'alat mandi'
    }]
}]

In [ ]:
user[1]['transaksi']

[{'harga': 5000,
  'kategori': 'alat mandi',
  'kuantitas': 2,
  'namaproduk': 'sabun'}]

In [ ]:
import pandas as pd

data = [1,2,3],[4,5,6],[7,8,9]

df = pd.DataFrame(data)
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
df[[0]].sum()

0    12
dtype: int64

In [ ]:
data = [['sikat',2,3000],['gigi',2,4000],['odol',8,12388]]

df = pd.DataFrame(data)
df.columns = ['nama produk','banyaknya','harga']
print(df)

  nama produk  banyaknya  harga
0       sikat          2   3000
1        gigi          2   4000
2        odol          8  12388

In [ ]:
df[['banyaknya']].sum()

banyaknya    12
dtype: int64

In [ ]:
df[['banyaknya']].sum().values[0]*df[['harga']].sum().values[0]

232656

In [ ]:
data2 = [['sikat',2,3000],['gigi',2,4000],['odol',8,12388]]

total = 0
for i in data2:
  total = i[1]

print(total)

8

In [ ]:
n1, n2 = 0, 1
n_prime = 50
while(n1 <= n_prime):
    count = 0
    i = 2
    while(i <= n1//2):
        if(n1 % i == 0):
            count += 1
            break
        i += 1
    if (count == 0 and n1!= 1):
        print(n1)
    fibonacci = n1 + n2
    n1 = n2
    n2 = fibonacci

0
2
3
5
13

In [ ]:
import random
input_list= [random.randrange(1, 50, 1) for i in range(10)]
input_list

[12, 7, 9, 43, 23, 16, 12, 15, 12, 29]

In [ ]:
while 5 in input_list:
  pengecualian1 = input_list.index(5)
  input_list = input_list[0:pengecualian1]+input_list[pengecualian1+1:9]
  while 6 in input_list:
    pengecualian2 = input_list.index(6)
    input_list = input_list[0:pengecualian2]+input_list[pengecualian2+1:9]
print(sum(input_list))

178