## **Advanced DataFrame**

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
data.set_index('sex')

        age     bmi  children smoker     region      charges
sex
female   19  27.900         0    yes  southwest  16884.92400
male     18  33.770         1     no  southeast   1725.55230
male     28  33.000         3     no  southeast   4449.46200
male     33  22.705         0     no  northwest  21984.47061
male     32  28.880         0     no  northwest   3866.85520
...     ...     ...       ...    ...        ...          ...
male     50  30.970         3     no  northwest  10600.54830
female   18  31.920         0     no  northeast   2205.98080
female   18  36.850         0     no  southeast   1629.83350
female   21  25.800         0     no  southwest   2007.94500
female   61  29.070         0    yes  northwest  29141.36030

[1338 rows x 6 columns]

In [ ]:
data.set_index(['sex','age','smoker']) #untuk set index lebih dari 1 harus ada []

                      bmi  children     region      charges
sex    age smoker
female 19  yes     27.900         0  southwest  16884.92400
male   18  no      33.770         1  southeast   1725.55230
       28  no      33.000         3  southeast   4449.46200
       33  no      22.705         0  northwest  21984.47061
       32  no      28.880         0  northwest   3866.85520
...                   ...       ...        ...          ...
       50  no      30.970         3  northwest  10600.54830
female 18  no      31.920         0  northeast   2205.98080
           no      36.850         0  southeast   1629.83350
       21  no      25.800         0  southwest   2007.94500
       61  yes     29.070         0  northwest  29141.36030

[1338 rows x 4 columns]

In [ ]:
x = data.drop('charges',axis=1)
x.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [ ]:
y = data[['charges']]
y.head()

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [ ]:
data.drop(['age','sex'], axis = 1) #kalo drop lebih dari 1 harus ada[]

         bmi  children smoker     region      charges
0     27.900         0    yes  southwest  16884.92400
1     33.770         1     no  southeast   1725.55230
2     33.000         3     no  southeast   4449.46200
3     22.705         0     no  northwest  21984.47061
4     28.880         0     no  northwest   3866.85520
...      ...       ...    ...        ...          ...
1333  30.970         3     no  northwest  10600.54830
1334  31.920         0     no  northeast   2205.98080
1335  36.850         0     no  southeast   1629.83350
1336  25.800         0     no  southwest   2007.94500
1337  29.070         0    yes  northwest  29141.36030

[1338 rows x 5 columns]

In [ ]:
data.drop(1,axis=0) #drop row dan ambil nama indexnya
#hilangin row index ke 1

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

In [ ]:
#join
data_1 = data.sample(n=5)
data_2 = data.sample(n=5)

display(data_1.head())
display(data_2.head())

      age     sex     bmi  children smoker     region      charges
344    49  female  41.470         4     no  southeast  10977.20630
1163   18  female  28.215         0     no  northeast   2200.83085
1084   62  female  30.495         2     no  northwest  15019.76005
901    60    male  40.920         0    yes  southeast  48673.55880
186    26  female  29.920         2     no  southeast   3981.97680

      age     sex    bmi  children smoker     region     charges
833    58    male  34.39         0     no  northwest  11743.9341
190    61    male  31.57         0     no  southeast  12557.6053
939    53    male  29.48         0     no  southeast   9487.6442
1114   23    male  24.51         0     no  northeast   2396.0959
907    44  female  32.34         1     no  southeast   7633.7206

In [ ]:
data_1.join(data_2, lsuffix='_first',rsuffix='_second')

      age_first sex_first  ...  region_second  charges_second
344          49    female  ...            NaN             NaN
1163         18    female  ...            NaN             NaN
1084         62    female  ...            NaN             NaN
901          60      male  ...            NaN             NaN
186          26    female  ...            NaN             NaN

[5 rows x 14 columns]

In [ ]:
pd.concat([data_1,data_2],axis=1) #horizontal

In [ ]:
pd.concat([data_1,data_2],axis=0) #vertikal

      age     sex     bmi  children smoker     region      charges
344    49  female  41.470         4     no  southeast  10977.20630
1163   18  female  28.215         0     no  northeast   2200.83085
1084   62  female  30.495         2     no  northwest  15019.76005
901    60    male  40.920         0    yes  southeast  48673.55880
186    26  female  29.920         2     no  southeast   3981.97680
833    58    male  34.390         0     no  northwest  11743.93410
190    61    male  31.570         0     no  southeast  12557.60530
939    53    male  29.480         0     no  southeast   9487.64420
1114   23    male  24.510         0     no  northeast   2396.09590
907    44  female  32.340         1     no  southeast   7633.72060

In [ ]:
data_1.append(data_2)

      age     sex     bmi  children smoker     region      charges
344    49  female  41.470         4     no  southeast  10977.20630
1163   18  female  28.215         0     no  northeast   2200.83085
1084   62  female  30.495         2     no  northwest  15019.76005
901    60    male  40.920         0    yes  southeast  48673.55880
186    26  female  29.920         2     no  southeast   3981.97680
833    58    male  34.390         0     no  northwest  11743.93410
190    61    male  31.570         0     no  southeast  12557.60530
939    53    male  29.480         0     no  southeast   9487.64420
1114   23    male  24.510         0     no  northeast   2396.09590
907    44  female  32.340         1     no  southeast   7633.72060

In [ ]:
#pivot table
data.set_index(['sex','smoker'])

               age     bmi  children     region      charges
sex    smoker
female yes      19  27.900         0  southwest  16884.92400
male   no       18  33.770         1  southeast   1725.55230
       no       28  33.000         3  southeast   4449.46200
       no       33  22.705         0  northwest  21984.47061
       no       32  28.880         0  northwest   3866.85520
...            ...     ...       ...        ...          ...
       no       50  30.970         3  northwest  10600.54830
female no       18  31.920         0  northeast   2205.98080
       no       18  36.850         0  southeast   1629.83350
       no       21  25.800         0  southwest   2007.94500
       yes      61  29.070         0  northwest  29141.36030

[1338 rows x 5 columns]

In [ ]:
#summary usia untuk berdasarkan sex dan smoker di region masing2
pd.pivot_table(data, values='age',index=['sex','smoker'], columns = 'region',
               aggfunc='mean')

region         northeast  northwest  southeast  southwest
sex    smoker
female no      39.840909  39.755556  39.071942  40.099291
       yes     38.724138  38.827586  39.250000  37.047619
male   no      39.216000  38.568182  38.261194  40.277778
       yes     37.868421  39.827586  40.054545  35.567568

In [ ]:
pd.pivot_table(data, values='age',index=['sex','smoker'], columns = 'region',
               aggfunc=['mean','min','max']) #kalo aggfunc lebih dari 1

                    mean                        ...       max
region         northeast  northwest  southeast  ... northwest southeast southwest
sex    smoker                                   ...
female no      39.840909  39.755556  39.071942  ...        64        64        64
       yes     38.724138  38.827586  39.250000  ...        64        64        64
male   no      39.216000  38.568182  38.261194  ...        64        64        64
       yes     37.868421  39.827586  40.054545  ...        62        64        61

[4 rows x 12 columns]

In [ ]:
data.groupby(['sex','smoker']).agg(average_age = ('age','mean'),
                                   min_age= ('age','min'))

               average_age  min_age
sex    smoker
female no        39.691042       18
       yes       38.608696       18
male   no        39.061896       18
       yes       38.446541       18

In [ ]:
import time
start = time.time()

cost = []
for i in data['bmi']:
  if i < 30:
    cost.append('Low BMI')
  else:
    cost.append('High BMI')

end = time.time()
print(end - start)

0.0018265247344970703

In [ ]:
data['bmi_category'] = cost
data.head()

In [6]:

data['bmi_cate_lambda'] = data['bmi'].apply(lambda x: 'Low BMI' if x <30 else 'High BMI')
data.head()

   age     sex     bmi  children smoker     region      charges bmi_cate_lambda
0   19  female  27.900         0    yes  southwest  16884.92400         Low BMI
1   18    male  33.770         1     no  southeast   1725.55230        High BMI
2   28    male  33.000         3     no  southeast   4449.46200        High BMI
3   33    male  22.705         0     no  northwest  21984.47061         Low BMI
4   32    male  28.880         0     no  northwest   3866.85520         Low BMI